        <tr class="line<%= cycle("0", "1") -%>">
          <td style="width: 30px"><%= @manifestations.offset_value + 1 + manifestation_counter -%></td>
          <td style="480px">
            <% cache([current_user_role_name, @locale, manifestation]) do %>
              <% if manifestation.root_series_statement %>
                <%= render 'manifestations/show_series_index', :manifestation => manifestation, :series_statement => manifestation.root_series_statement -%>
              <% else %>
                <%= render 'manifestations/show_index', :manifestation => manifestation -%>
                <div class="access_address">
                  <%= link_to manifestation.access_address, manifestation.access_address if manifestation.access_address.present? -%>
                </div>
                <% if current_user.try(:has_role?, 'Librarian') %>
                  (<%= link_to "#", {:onclick => "$('#holding_#{manifestation.id}').toggle(); return false;"} do t('page.holding') end %>)
                <% else %>
                  <%- unless manifestation.items.for_checkout.on_shelf.empty? -%>
                    (<%= link_to "#", {:onclick => "$('#holding_#{manifestation.id}').toggle(); return false;"} do t('page.holding') end %>)
                  <%- end -%>
                <%- end -%>
                <% if defined?(EnjuBookmark) %>
                  <%- if manifestation.tags.first -%>
                    (<%= link_to "#", {:onclick => "$('#tag_#{manifestation.id}').toggle(); return false;" } do t('activerecord.models.tag') end %>)
                  <%- end -%>
                  <%= render 'manifestations/show_tag', :manifestation => manifestation -%>
                <% end %>
              <% end %>
              <%= render 'manifestations/holding', :manifestation => manifestation -%>
            <% end %>
          </td>
            <% if signed_in? %>
              <td id="edit_icons">
                <% if defined?(EnjuCirculation) %>
                  <%= render 'manifestations/show_reservation', :manifestation => manifestation %>
                <%- end -%>
              </td>
            <% end %>
          </tr>
