      <table class="table table-striped" id="resource_detail">
        <tr>
          <td style="width: 200px"><%= t('activerecord.attributes.series_statement.title_transcription') -%></td>
          <td style="width: 490px"><%= @series_statement.title_transcription %></td>
        </tr>
        <tr>
          <td style="width: 200px"><%= t('activerecord.attributes.series_statement.title_subseries') -%></td>
          <td style="width: 490px"><%= @series_statement.title_subseries %>
            <% if @series_statement.title_subseries_transcription? %>
              (<%= @series_statement.title_subseries_transcription %>)
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.series_statement.root_manifestation_id') -%></td>
          <td><%= link_to @series_statement.root_manifestation.original_title, @series_statement.root_manifestation %></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.series_statement.issn') -%></td>
          <td><%= @series_statement.issn %></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.series_statement.series_statement_identifier') -%></td>
          <td><%= @series_statement.series_statement_identifier %></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.series_statement.note') -%></td>
          <td><%= @series_statement.note %></td>
        </tr>
    </table>
