<div class="holding">
<table class="table table-striped holding">
  <tr>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <% if defined?(EnjuCirculation) %>
      <th><%= t('activerecord.models.circulation_status') -%></th>
    <% end %>
  </tr>
  <%- manifestation.items.on_shelf.each_with_index do |item, idx| -%>
    <tr id="manifestation_<%= manifestation.id %>_item_<%= idx %>"
      <% if @manifestation.nil? and idx > 1 %>
	class="manifestation_<%= manifestation.id %>_hidden_items"
	style="display:none"
      <% end %>>
      <td>
(<%= idx %>)
        <%- if item.item_identifier? -%>
          <%= link_to(item.item_identifier, item, :id => "item_identifier_item_#{item.id}") -%>
        <%- else -%>
          (<%= link_to t('item.no_number'), item -%>)
        <%- end -%>
      </td>
      <td>
        <%= link_to(item.shelf.library.display_name.localize, item.shelf.library, :id => "library_item_#{item.id}") %>
      </td>
      <td>
        <%= link_to(item.shelf_display_name.localize, item.shelf, :id => "shelf_item_#{item.id}")-%>
        <%= render 'items/shelf_picture', :item => item -%>
      </td>
      <td>
        <%= item.call_number -%>
      </td>
      <% if defined?(EnjuCirculation) %>
        <td>
          <%= item.circulation_status.display_name.localize if item.circulation_status -%>
          <%- if item.rent? -%>
            (
              <%= t('activerecord.attributes.checkout.due_date') -%>:
              <%= l(item.latest_checkout.due_date, :format => :short) -%>
            )
          <%- end -%>
        </td>
      <% end %>
    </tr>
    <% if can? :update, item %>
      <script>
        $(function(){
          $('a#item_identifier_item_<%= item.id %>').data(
            'powertip',
            'item_identifier: <%= item.item_identifier %>'
          );
          $('a#item_identifier_item_<%= item.id %>').powerTip({
            placement: 'e',
            mouseOnToPopup: true
          });
        });
      </script>
      <%= render 'items/tooltip', :item => item %>
    <% end %>
  <%- end -%>
</table>
<% if @manifestation.nil? and manifestation.items.on_shelf.size > 2 %>
<p id="manifestation_<%= manifestation.id %>_hidden_button"><%= link_to_function t('holdings_hidden_items',:size=>manifestation.items.on_shelf.size), "$('tr.manifestation_#{ manifestation.id }_hidden_items').toggle();$('#manifestation_#{ manifestation.id }_hidden_button').toggle()" -%></p>
<% end %>
<%- if can? :create, Item -%>
<p><%= link_to t('page.new', :model => t('activerecord.models.item')), new_manifestation_item_path(manifestation) -%></p>
<%- end -%>
</div>
