<%= render 'manifestations/title', :manifestation => @manifestation.root_series_statement.manifestation -%>

<p>
  <strong><%= t('activerecord.attributes.series_statement.original_title') -%></strong>
  <%= @manifestation.root_series_statement.original_title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.series_statement.title_transcription') -%></strong>
  <%= @manifestation.root_series_statement.title_transcription %>
</p>

<p>
  <strong><%= t('activerecord.attributes.series_statement.issn') -%></strong>
  <%= @manifestation.root_series_statement.issn %>
</p>

<p>
  <strong><%= t('activerecord.attributes.series_statement.series_statement_identifier') -%></strong>
  <%= @manifestation.root_series_statement.series_statement_identifier %>
</p>

<%= render 'series_statements/manifestation_list', :series_statement => @manifestation.root_series_statement -%>
